# Build outputs (Linux) - kompilierte Binaries ohne Endung
test*
task*
!test*.c
!test*.cpp
!task*.c
!task*.cpp
!test*.h
!test*.hpp
!test*.inl
!test*.jpg
!test*.png
!test*.jpeg
!task*.h
!task*.hpp
!task*.inl
!task*.jpg
!task*.png
!task*.jpeg

*.o
*.out
*.a
*.so

# Build outputs (Windows)
*.exe
*.obj
*.dll
*.lib
*.pdb

# Output-/Build-Ordner
output/
build/

# Lokaler Aufräum-Ordner (siehe README)
DELETE_THIS_FOLDER/